    .container {
    height: 200px;
    position: relative;
  }
.holder{
  font-size: 50px;
  text-align: center;
}
.holder1{
  font-size: 30px;
  text-align: center;
}
.holder2{
  font-size: 20px;
  text-align: center;
}
body{background-color:#fadc64;}
